<h1>Please Drink Responsibldaskfljasdf, NAH.</h1>

<% @products['result'].each do |product| %>
  <div class="product">
    <%= link_to product['name'], product_path(product['id']) %> - 
    $<%= format_numbers product['price_in_cents'] %></br>
      <% if product['image_thumb_url'] == nil %> 
        <%= image_tag ("http://www.definitivetech.com/images/products/product_image_not_available.gif") %> 
      <% else %>
        <%= link_to image_tag(product['image_thumb_url']), product_path(product['id']) %>
      <% end %>
  </div>
<% end %>

